<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>
/*
var formdata = new FormData();
formdata.append('Username', "Jessie1234");
formdata.append("eventId" , "T324234234");
formdata.append("eventName" , "The Salsa");

var xhr = new XMLHttpRequest();
xhr.open("POST", '/likedEvent');
xhr.addEventListener('load', ()=>{
    var userData = xhr.response;
    console.log(userData)
});
xhr.send(formdata);


*/

var formdata = new FormData();
formdata.append('ID', "HNUx6phxzkvHuX7Gb2");

var xhr = new XMLHttpRequest();
xhr.open("POST", '/GetEventInfo');
xhr.addEventListener('load', ()=>{
    var userData = xhr.response;
    console.log(userData)

});
xhr.send(formdata);


</script>

<body>

</body>
</html>